## Bug Report - 

### Environment
- OS: Windows 11
- Game : 

### Severity
Critical Major Minor Trivial

>

### Priority
Highest, High, Medium, Low

>

### Reproduction Steps
 1. 
 2. 
 3. 

### Expected Result
- 

### Actual Result
- 

### Notes


---


## Problem Specification
### Problem
#### BOJ 1920
문제 ~ 예제까지 입력
### Analyse Specification
명세 분석
